<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-container">
    <div class="navbar-logo">
      <a href="/" aria-label="Home - Data Savvy Solutions">
        <img src="/assets/img/logo-icon.svg" alt="" class="navbar-logo-img">
      </a>
    </div>
    <ul class="navbar-menu">
      <li><a href="/about/">About</a></li>
      <li><a href="/mission/">Mission</a></li>
      <li><a href="/projects/">Projects</a></li>
      <li><a href="/engagements/">Engagements</a></li>
<!--       <li><a href="/kb/">Knowledge Base</a></li> -->
      <li><a href="/blog/">Blog</a></li>
    </ul>
  </div>
</nav>
